alert()
  display inline-block
  width 100%
  height auto
  border-width 1px
  border-style solid
  border-radius 4px
  padding 10px 20px
  margin 0 0 15px
  box-sizing border-box
  fontMiddleNormal()

  &--danger
    border-color cAlertDanger
    background-color rgba(cAlertDanger, 20%)
    color cAlertDanger
