fontSmallNormal()
  font-size 14px
  line-height 16px
  font-style normal
  font-weight normal

fontMiddleNormal()
  font-size 16px
  line-height 18px
  font-style normal
  font-weight normal

fontBigNormal()
  font-size 18px
  line-height 20px
  font-style normal
  font-weight normal

fontBigBold()
  font-size 18px
  line-height 20px
  font-style normal
  font-weight bold
