link(type)
  text-decoration none

  if (type == 'l')
    color cWhite

  if (type == 'd')
    color cGrayDark

  &:hover, &:focus
    text-decoration underline

    if (type == 'l')
      color cWhite

    if (type == 'd')
      color cGreenDark

  &:active
    text-decoration none

    if (type == 'l' || type == 'd')
      color cGreenAccent

toggleButton(c)
  display flex
  width 32px
  height 32px
  padding 5px
  margin 0
  justify-content center
  align-items center
  cursor pointer
  background none
  border-width 2px
  border-style solid
  border-color transparent
  border-radius 4px
  box-sizing border-box
  transition border-color .3s

  img
    width 100%
    height 100%
    object-fit contain

  &:hover
    border-color c
    transition border-color .15s

  &--active
    border-color c

reset-button()
  display flex
  padding 0
  margin 0
  border 0
  background none
  box-sizing border-box
  cursor pointer
